*.clixml
*.cred
*.secret*
.env
*_history.txt
*Password*
*TestResults*
TestResults.xml
Coverage.xml
/out/
/build/
/Publish/
*.cache
/Modules/
/packages/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db